$mainColor: #000;
$linkColor: #e79809;
$alternativeColor: #fff;
$goldColor: #ffd700;
$defaultBorderRadius: 5px;
$img: '/assets/images';
$font: 'Josefin Slab';
$fontContent: 'Open Sans';

$breakPointTablet: 768px;
$breakPointPC: 1024px;

@mixin clear() {
	content: ' ';
	display: block;
	clear: both;
}

/* Reset like things */
img,p,td{border: 0;margin: 0;padding: 0;}
a{text-decoration: none;color: $mainColor;transition: .5s;}
a:hover{color: #555; }
.fright {float:right;}
a img {border: 0;}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-width: 320px;
    font-family: $font;
    &.sidebar-open {
    	overflow: hidden;
    }
}

.hidden {
    display: none;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

a {
	color: $linkColor;
	transition: .5s;
	border-bottom: 1px dotted #000;
	&:hover {
		color: #000;
	}
}

@keyframes fadeIn {
    from    { opacity: 0; }
    to 		{ opacity: 1; }
}

@keyframes fadeOut {
    from    { opacity: 1; }
    to 		{ opacity: 0; }
}

.ng-enter {
	animation: fadeIn 0.5s both ease-in;
	z-index: 8888;
}
.ng-leave {
	display: none;
}