.sidebar {
	position: fixed;
	z-index: 4;
	width: 80%;
	right: 0;
	background-color: #303030;
	height: 100%;
	transition: .5s;
	margin-right: -80%;
    overflow-y: auto;
    
    @media (min-width: $breakPointPC) {
        display: none;
    }

	.sidebar-open & {
		transform: translate(-100%, 0);
		box-shadow: -15px 0 5px -5px rgba(0, 0, 0, 0.25);
	}

	button.back {
		border: 2px solid #fff;
		border-radius: 4px;
		padding: 5px 10px;
		margin: 10px 5% 0 0;
		background: none;
		color: #fff;
		font-family: $font;
		font-size: 18px;
		float: right;
		outline: 0;
	}

	nav {
		margin-top: 60px;

		a {
			width: 100%;
			display: block;
			border-top: 2px solid #fff;
			text-align: center;
			font-size: 37px;
			padding: 5% 0;
			color: #fff;
			&:last-child {
				border-bottom: 2px solid #fff;
			}
			&.active {
				color: #000;
				background-color: #fff;
			}
		}
	}
}

.sidebar-closer {
	position: fixed;
	z-index: 5;
	width: 20%;
	left: 0;
	height: 100%;
	visibility: hidden;
	transition: .5s;
	transform: translate(-100%,0);
	background-color: rgba(0, 0, 0, 0.7);

	.sidebar-open & {
		visibility: visible;
		transform: translate(0%,0);
	}
}

.burger {
	width: 32px;
	height: 32px;
	z-index: 5;
	position: absolute;
	top: 15px;
	right: 5%;
    transition: .5s;
    
    @media (min-width: $breakPointPC) {
        display: none;
    }
	
	.sidebar-open & {
		fill: #fff;
	}
}