<section class="content">
	<h2>Some info about me</h2>
	<ul>
		<li>Web Developer with worthy amount of experience. I developed many projects using many different methods and CMS.</li>
		<li>Have developed over 35 projects starting from personal and company pages to social networking and e-commerce websites using new features in technologies.</li>
		<li>Have experience with developing mobile applications on Android phones, but quantity of a projects is not so great. For Android/iOS development use Ionic now as more experienced in Javascript/AngularJS</li>
		<li>I am always really dedicated and passionate to what I do. I have fun working in a team. So open minded for open-source projects.</li>
		<li>Love to upgrade and improve code readability and optimize it. Don't like to over-improve things, this can be done forever. Shortness is the key.</li>
		<li>Started to play around with websites ~12 years ago</li>
		<li>Since 2009 doing it professionaly</li>
		<li>Experienced freelance for 3 years. Received invaluable knowledge of full workflow: from finding client, to talking with client, to prototyping, design, front end, back end development, deployment and support of the project</li>
		<li>Trying to be simple if possible</li>
		<li>Believe that skills must be proven by actions rather than words</li>
		<li>Hate to argue what better, Android or iOS, Windows or Ubuntu, MySQL or MongoDB, PHP or .NET. This is all technogoly and I love all technology!</li>
		<li>My recent interest is Frontend development using AngularJS</li>
		<li>Currently working as Frontend Developer for company <a href="http://www.greentube.com" target="_blank">Greentube</a></li>
	</ul>
	<h2>Technical (and not only) skills</h2>
	<ul>
		<li>Programming skills: PHP, Java(Android), API, Javascript, jQuery, Angular, HTML5, CSS3, NodeJS</li>
		<li>Databases: MySQL, MongoDB, SQLite</li>
		<li>MVC: Zend, Symphony, Slim</li>
		<li>CMS: Wordpress and Drupal</li>
		<li>VCS: GIT, SVN</li>
		<li>Additional skills: UI design, Information architecture, Project management</li>
		<li>Design: Photoshop, Illustrator</li>
		<li>Information architecture: Axure RP.</li>
		<li>Bug trackers: JIRA, Redmine</li>
		<li>Monitoring: AppDynamics</li>
		<li>Testing: Mocha, Karma, PHPUnit</li>
	</ul>
</section>