/**
 * Main custom variables
 */
$mainColor: #000;
$linkColor: #e79809;
$alternativeColor: #fff;
$goldColor: #ffd700;
$defaultBorderRadius: 5px;
$img: '/assets/images';
$font: 'Josefin Slab';
$fontContent: 'Open Sans';
$breakPointTablet: 768px;
$breakPointPC: 1024px;

// Bootstrap variables
$font-size-h1: 2em;
$link-hover-decoration: none;
$link-color: $mainColor;
$link-hover-color: #555;
$font-family-base: $font;

// Loading bootstrap
@import '../node_modules/bootstrap/scss/bootstrap-reboot.scss';

a {
    transition: .5s;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-width: 320px;
    font-family: $font;
    
    &.sidebar-open {
    	overflow: hidden;
    }
}

@keyframes fadeIn {
    from    { opacity: 0; }
    to 		{ opacity: 1; }
}

@keyframes fadeOut {
    from    { opacity: 1; }
    to 		{ opacity: 0; }
}

.ng-enter {
	animation: fadeIn 0.5s both ease-in;
	z-index: 8888;
}

.ng-leave {
	display: none;
}

.container {
	z-index: 6;
	transition: .5s;
	
	.sidebar-open & {
		transform: translate(-80%, 0);
	}
}

// Import components scss
@import '../src/app/app.scss';
@import '../src/app/components/header/header.scss';
@import '../src/app/components/sidebar/sidebar.scss';
@import '../src/app/pages/home/home.scss';
@import '../src/app/pages/work/work.scss';